.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  /* Setup */
  position: relative;
  margin-left: 45rem !important;
}

.text {
  right: -4rem;
  position: relative;
}

.source-btn {
  position: relative;
  margin-top: 35rem;
  margin-left: 52rem;
}
